<div class="nav">
		<ul>
			<li><a href="http://google.com">About Me</a></li>
			<li><a href="http://google.com">Why NYC?</a></li>
			<li><a href="http://google.com">Getting There</a></li>
			<li><a href="http://google.com">Getting Around</a></li>
			<li><a href="http://google.com">Where to Stay</a></li>
		</ul>
    </div>
    <div class="jumbotron">
    </div>	
    <div class="container">
	    <div class="intro">
	    	<h1>Everyone talks about visiting New York but has a hard time deciding what to do once they get there. It can all be a little overwhelming. That's where I come in.</h1>
	    </div>
	    <div class="header">
	    	<h1>A few of my favorites...</h1>
	    </div>
	    <div class="copy">
		    <div class="section section1">
		    	<%= image_tag 'bridge.jpg' %>
		    	<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
		    </div>
		    <div class="section section2">
		    	<img src="https://unsplash.imgix.net/photo-1423882503395-8571951e45cc?dpr=2&fit=crop&fm=jpg&h=500&q=75&w=725" alt="Grand Central">
		    	<p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
		    </div>
		    <div class="section section3">
		    	<img src="https://ununsplash.imgix.net/29/night-square.jpg?dpr=2&fit=crop&fm=jpg&h=475&q=75&w=725" alt="Times Square">
		    	<p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
		    </div>
	    </div>
    </div>
