// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
	margin: 0;
	padding: 0;
	background-color: #CCCCCC;
	font-family: 'Indie Flower';
}
a {
	text-decoration: none;
	// color: black;
}
.nav ul {
	font-size: 24px;
	list-style-type: none;
	padding: 0;
	text-align: center;
	margin-top: 0;
}
.nav ul li {
	float: left;
	display: block;
	padding: 10px;
	color: white;
	background: black;
	margin: 10px;
	width: 16%;
	-webkit-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
}
.nav:after {
    clear: both;
    display: table;
    content: "";
}
.jumbotron {
    height: 500px;
    background-image: image-url('nycskyline.jpg');
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    z-index: -1;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
.intro h1 {
	text-align: center;
	padding-left: 150px;
	padding-right: 150px;
}
.header h1 {
	background: black;
	color: white;
	text-align: center;
	font-size: 50px;
}
.section {
	float: left;
	width: 30%;
	margin: 15px;
	text-align: center;
}
.section img {
	width: 100%;
}